app/__pycache__/configs.cpython-310.pyc
app/.ipynb_checkpoints/benchmark_updates-checkpoint.ipynb
app/.ipynb_checkpoints/configs-checkpoint.py
app/.ipynb_checkpoints/create_fmd_map-checkpoint.ipynb
app/.ipynb_checkpoints/README-checkpoint.md
app/.ipynb_checkpoints/select_anchors-checkpoint.ipynb
scripts/__pycache__/argos_optimize.cpython-310.pyc
scripts/__pycache__/fmd.cpython-310.pyc
scripts/__pycache__/utils.cpython-310.pyc
scripts/.ipynb_checkpoints/argos_optimize-checkpoint.py
scripts/.ipynb_checkpoints/fmd-checkpoint.py
scripts/.ipynb_checkpoints/iter_objects-checkpoint.ipynb
scripts/.ipynb_checkpoints/utils-checkpoint.py
